{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Lista wszystkich filmów</h1>
        <hr/>

        {% for entity in entities %}
            <div class="row clearfix">
            <div class="col-md-8 column">
                <div class="col-md-3 column">
                    <img src="http://placehold.it/150&text=Przykladowy&plakat!">
                </div>
                <div class="col-md-9">
                    <h3>{{ entity.title }}</h3>
                    <p>{{ entity.description }}</p>
                    <p>Cena: {{ entity.price }}</p>
                </div>
            </div>
            <div class="col-md-3 column">
            </div>
            <div class="col-md-1 column">
                <a href=# class="btn btn-xs btn-success">Dodaj komentarz</a>
            </div>
        </div>
            <tr>
                <td><a href="{{ path('movie_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td></td>
                <td></td>
                <td>{{ entity.price }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('movie_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('movie_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('movie_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    {% endblock %}
